.cardGrid {
  width: 440px;
  height: 100%;
  overflow: auto;
  padding-top: 110px;
  padding-bottom: 60px;

  flex-shrink: 0;
}

.cardGridPortrait {
  padding: 10px 10px 0px 10px;
}

.promptBanner {
  width: 100%;
}
