.card {
  margin-right: 2px;
  margin-bottom: 1.5em;
  padding: 1em 2.2em 1.2em 0.9em;
  background: #ffeff6;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

  background-image: url("./img/bg.png");

  background-size: 450px 500px;

  background-position: center;

  font-size: 12px;

  border: 2px solid hsl(304, 54%, 87%);
  border-radius: 25px;

  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.pfp {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 3px solid pink;
  flex-shrink: 0;
}

.container {
  flex: 1;
  flex-grow: 100;
  width: 300px;
}

.nickname {
  padding-top: 20px;
  display: inline-block;
  position: relative;
  bottom: 0.8em;
  font-size: 15px;
}

.user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x_link {
  display: inline-block;
  border-radius: 15px;
  background-image: url(./img/x-logo-black.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 8px 6px;
  padding: 6px 8px 6px 25px;
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: bold;
  background-color: #c2e7ff;
}

.x_link:visited {
  text-decoration: none;
}

.x_link:active {
  text-decoration: none;
}

.attachment {
  display: inline-block;
  width: 47%;
  margin-right: 7px;
}

.attachment .attachmentInner {
  padding: 4px;
  border: 2px dashed pink;
  border-radius: 5px;
}

.message {
  white-space: pre-wrap;
}

.map_button {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 6px 8px;
  font-size: 10px;
  background-color: #ed9dcd;
  box-shadow: none;
  border: none;
  border-radius: 8px;
  color: black;
}
