.card {
  margin-bottom: 2em;
  padding: 2.5em 2.5em 1.5em 1em;
  background: #ffeff6;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);

  background-image: linear-gradient(
      90deg,
      #ffeff6 12px,
      0,
      rgba(0, 0, 0, 0.1) 15px,
      0,
      var(--body-color) 20px,
      0,
      #ffeff6 100%
    ),
    radial-gradient(
      circle closest-side,
      rgba(255, 255, 255, 0) 88%,
      #ffeff6 100%
    ),
    radial-gradient(
      circle at 22px 8px,
      var(--body-color) 40%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("./img/bg.png");
  background-size:
    32px 8px,
    32px 16px,
    32px 16px,
    450px 500px;

  background-repeat:
    space no-repeat,
    space no-repeat,
    space no-repeat,
    repeat-y;

  background-position:
    center top,
    center 6px,
    center 6px;

  font-size: 12px;

  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.pfp {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 3px solid pink;
  flex-shrink: 0;
}

.container {
  flex: 1;
  flex-grow: 100;
  width: 300px;
}

.nickname {
  padding-top: 20px;
  display: inline-block;
  position: relative;
  bottom: 0.8em;
  font-size: 15px;
}

.user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x_link {
  display: inline-block;
  border-radius: 15px;
  background-image: url(./img/x-logo-black.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 8px 6px;
  padding: 6px 8px 6px 25px;
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: bold;
  background-color: #c2e7ff;
}

.x_link:visited {
  text-decoration: none;
}

.x_link:active {
  text-decoration: none;
}

.attachments {
  display: flex;
  flex-direction: row;
}

.attachment {
  width: 100px;
  padding: 4px;
  margin-right: 5px;
  border: 2px dashed pink;
  border-radius: 5px;
}

.map_button {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 6px 8px;
  font-size: 10px;
  background-color: #ed9dcd;
  box-shadow: none;
  border: none;
  border-radius: 8px;
  color: black;
}
