.card {
  margin-right: 2px;
  margin-bottom: 23px;
  padding: 10px 15px 20px 10px;
  background: #ffeff6;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

  background-image: url("./img/bg.png");

  background-size: 450px 500px;

  background-position: center;

  font-size: 12px;

  border: 2px solid hsl(304, 54%, 87%);
  border-radius: 28px;

  display: flex;
  align-items: flex-start;
  gap: 10px;

  position: relative;
}

.pfp {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 3px solid pink;
  flex-shrink: 0;
}

.container {
  flex: 1;

  flex-grow: 1;
}

.nickname {
  padding-top: 20px;
  display: inline-block;
  position: relative;
  bottom: 0.8em;
  font-size: 15px;
}

.user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x_link {
  display: inline-block;
  border-radius: 15px;
  background-image: url(./img/x-logo-black.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 8px 6px;
  padding: 6px 8px 6px 25px;
  text-decoration: none;
  color: black;
  font-size: 9px;
  font-weight: bold;
  background-color: #c2e7ff;

  font-family: "McLaren", sans-serif;
  font-weight: 500;
}

.x_link:visited {
  text-decoration: none;
}

.x_link:active {
  text-decoration: none;
}

.attachments {
  display: flex;
  gap: 9px;
}

.attachment {
  display: inline-block;
  width: 48.5%;
}

.attachment .attachmentInner {
  padding: 4px;
  border: 2px dashed pink;
  border-radius: 5px;
}

.message {
  white-space: pre-wrap;
  margin: 15px 0px 10px 0px;
}

.map_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0px 0px 0px 17px;

  background: url(./img/find_map_button.png) 0px / 20px 24px no-repeat;
  height: 24px;
  display: inline-block;

  font-size: 11px;
  text-decoration: none;

  color: black;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.counter {
  position: absolute;
  right: 30px;
  bottom: -11px;

  display: inline-block;
  font-size: 9px;
  background-color: hsl(304, 64%, 90%);
  border: 2px solid hsl(304, 54%, 87%);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

  border-radius: 10px;
  color: hsl(304, 54%, 27%);
  padding: 2px 6px 2px 8px;

  font-family: "McLaren", sans-serif;
  font-weight: 500;
}
