.pageHeader {
  width: 100%;
  height: 110px;

  background-image: url("./img/congrats.png"), url("./img/wave.png"),
    url("./img/candy_pattern.png");

  background-repeat: no-repeat, repeat-x, repeat-x;

  background-position: center, bottom, center;

  background-size:
    525px 90px,
    auto,
    auto;

  flex-shrink: 0;
}

@media (max-width: 680px), (max-height: 450px) {
  .pageHeader {
    width: 100%;
    height: 160px;
    min-width: 110px;

    background-image: url("./img/congrats_mobile.png"), url("./img/wave.png"),
      url("./img/candy_pattern.png");

    background-repeat: no-repeat, repeat-x, repeat-x;

    background-position: center, bottom, center;

    background-size:
      420px 150px,
      auto,
      auto;

    flex-shrink: 0;
  }
}
