.pageHeader {
  width: 100%;
  background-color: var(--header-color);
  background-image: url(./img/candy_pattern.png);
  background-repeat: repeat-x;
  background-position: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.siteNav {
  padding: 1rem 0;
}

.h1 {
  margin: auto;
  font-family: "Patrick Hand SC", sans-serif;
  font-size: 6rem;
  text-shadow:
    rgb(92, 201, 210) 3px 0px 0px,
    rgb(92, 201, 210) 2.83487px 0.981584px 0px,
    rgb(92, 201, 210) 2.35766px 1.85511px 0px,
    rgb(92, 201, 210) 1.62091px 2.52441px 0px,
    rgb(92, 201, 210) 0.705713px 2.91581px 0px,
    rgb(92, 201, 210) -0.287171px 2.98622px 0px,
    rgb(92, 201, 210) -1.24844px 2.72789px 0px,
    rgb(92, 201, 210) -2.07227px 2.16926px 0px,
    rgb(92, 201, 210) -2.66798px 1.37182px 0px,
    rgb(92, 201, 210) -2.96998px 0.42336px 0px,
    rgb(92, 201, 210) -2.94502px -0.571704px 0px,
    rgb(92, 201, 210) -2.59586px -1.50383px 0px,
    rgb(92, 201, 210) -1.96093px -2.27041px 0px,
    rgb(92, 201, 210) -1.11013px -2.78704px 0px,
    rgb(92, 201, 210) -0.137119px -2.99686px 0px,
    rgb(92, 201, 210) 0.850987px -2.87677px 0px,
    rgb(92, 201, 210) 1.74541px -2.43999px 0px,
    rgb(92, 201, 210) 2.44769px -1.73459px 0px,
    rgb(92, 201, 210) 2.88051px -0.838247px 0px;
}

.title {
  color: white;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chLogo {
  height: 150px;
}

.subtitle {
  font-size: 3.5rem;
}

.topDivider {
  width: 100%;
}

.moonAndStarDivider {
  width: 100%;
  height: 26px;
  background: url("./img/moon_and_star.png") center repeat;
  opacity: 0.9;
}

.waveDivider {
  margin-top: 15px;
  width: 100%;
  height: 9px;
  background: url("./img/wave.png") center repeat;
}
