.castle {
  width: 70px;
  position: relative;
  bottom: 10px;
}

.pageFooter {
  flex-shrink: 0;
  height: 150px;
  width: 100%;

  padding-bottom: 10px;

  background: url(./img/meadow.png) repeat-x center;
  align-items: center;

  display: flex;
  flex-direction: column-reverse;
}
