.main {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-image: url(./img/clouds_large.png);
  background-repeat: repeat;
  background-position-x: center;
  background-position-y: -20px;

  padding: 15px 30px 5px 30px;
  display: flex;
  flex-flow: row;

  gap: 30px;

  overflow: hidden;

  /* position: relative; */

  flex-grow: 1;
}
/* 
@media (max-width: 680px) {
  .main {
    display: block;
  }
} */
