.main {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-image: url(./img/clouds_large.png);
  background-repeat: repeat;
  background-position-x: center;
  background-position-y: -20px;

  padding: 15px 30px 5px 30px;
  display: flex;
  flex-flow: row;

  gap: 20px;

  overflow: hidden;

  flex-grow: 1;
}

@media (max-width: 680px), (max-height: 450px) {
  .main {
    display: block;
    overflow: visible;
    padding: 10px 15px 0px 15px;
  }
}
