.main {
  width: 100%;
  align-items: center;
  justify-content: space-between;

  padding: 15px 30px 5px 30px;
  display: flex;
  flex-flow: row;

  gap: 20px;

  overflow: hidden;

  flex-grow: 1;
}
